<div class="text-center">

<h2>Services we offer</h2>
<div class= "container my-5">
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">TICKETLESS TRAVEL</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Airport Parking</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Trip Insurance</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
	<div class="row row-cols-2">
		<p class="text-left mt-4"><strong>Ticketless travel is easy and convenient.</strong><br><br>
&nbsp;&nbsp;&nbsp;&nbsp;So that you still have all the information about your trip, we will create a personal travel plan for you.
This contains all relevant information about your booked trip, such as: B. the current departure times, the hotel address, catering services, rental car bookings etc. in a short overview. You will receive your travel documents about 4 weeks before departure via your MEINE account. The travel plan is primarily for information - it is sufficient for your trip to have a valid passport or ID card. Important: Please check your travel plan before departure for completeness and accuracy . In exceptional cases, individual documents (vouchers) for certain services must be printed out and carried with you on your trip. These are clearly marked with a "!" In your travel plan.

Please print this out with the latest information shortly before your departure. In the event of changes to the trip (e.g. changed flight times, subsequently booked additional services, etc.), these documents (vouchers) must be reprinted, as the old ones lose their validity.</p>
	
	<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="../assets/img/vacation4.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../assets/img/vacation5.webp" alt="Second slide">

    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../assets/img/vacation6.webp" alt="Third slide">
    </div>
  </div>
</div>

  </div>
</div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">




	<div class="row row-cols-2">
		<p class="text-left mt-4"><strong>CHEAP PARKING AT THE AIRPORT - SAVE UP TO 50%!</strong><br><br>
&nbsp;&nbsp;&nbsp;&nbsp;Sensational: If you book with us, you save up to 50% of the parking fee at the airport. The exact prices can be found in the illustration below.

At our counter at the airport in Vienna, Linz, Graz, Salzburg and Innsbruck, you have the option of purchasing a discounted parking voucher before your departure. We would like to point out that the capacity of the parking lots / car parks is limited and cannot be guaranteed availability.

How do you get your discounted parking voucher?

Park your car at the desired parking lot
You will receive a parking card at the entrance
With this card and the booking confirmation you go to our counter BEFORE departure
The counter opens 2 hours before your departure
There you can buy your discounted exit ticket in cash</p>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="../assets/img/vacation1.webp" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../assets/img/vacation2.webp" alt="Second slide">

    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../assets/img/vacation3.webp" alt="Third slide">
    </div>
  </div>
</div>
  </div>

  </div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">

		<div class="row row-cols-2">
<p class="text-left mt-4"><strong>ALWAYS ON THE SAFE SIDE WITH GOOD TRAVEL INSURANCE!</strong><br><br>
&nbsp;&nbsp;&nbsp;&nbsp;Wherever you want to enjoy your vacation, with the right travel protection from the European Travel Insurance (ERV) you are always on the safe side! During the online booking you will automatically be offered the appropriate travel protection that you can book directly with your trip.

Have you already booked your vacation but have not yet taken out insurance?

No problem! Our competent team at the Internet Service Center will be happy to advise you and, on request, can easily and easily book the right travel insurance for your trip.</p>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="../assets/img/vacation7.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../assets/img/vacation2.webp" alt="Second slide">

    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../assets/img/vacation9.jpg" alt="Third slide">
    </div>
  </div>
</div>
  </div>

  </div>
</div>
</div>

</div>


